<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>実況リスト</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div class="grid">
    <div class="box box1">
      <div class="item" draggable="true" id="item1">item1</div>
      <div class="item" draggable="true" id="item2">item2</div>
      <div class="item" draggable="true" id="item3">item3</div>
      <div class="item" draggable="true" id="item4">item4</div>
      <div class="item" draggable="true" id="item5">item5</div>
    </div>
    <div class="box box2">
    </div>
  </div>

  <h1>実況リスト</h1>

  <img src="imgs/niconico.png">
  <h2>ニコニコ動画</h2>
  <!-- ニコニコ動画の実況者選択 -->
  <select v-model="streamerNico" id="streamerSelect-nico">
    <option value="" selected disabled></option>
    <option value="mssp">MSSP</option>
    <option value="adults">いい大人達</option>
    <option value="egin">えぬじん</option>
    <option value="music">音楽組 - MSSP</option>
    <option value="gerekara">ゲレンデ空回り - 混ぜメン</option>
    <option value="koiro">こいろ(5)</option>
    <option value="school">高校組 - MSSP</option>
    <option value="sugiru">すぎる</option>
    <option value="zuzu">ズズ</option>
    <option value="torippy">とりっぴぃ</option>
    <option value="toritori">とりとりコンビ&ネクロルさん&トータスさん</option>
    <option value="torinan">とりなん</option>
    <option value="napori">ナポリの男たち</option>
    <option value="nidomi">にどみ</option>
    <option value="nokke">のっけ</option>
    <option value="biwako">琵琶湖ちゃぷちゃぷブラザーズ</option>
    <option value="fanpon">ふぁんぽん</option>
    <option value="hunaka">不仲組 - MSSP</option>
    <option value="mazemen">混ぜメン</option>
    <option value="yukiyama">ゆきりぃやまる</option>
    <option value="reto">レトルト</option>
    <option value="ys">ワイエス</option>
    <option value="yy">わいわい</option>
    <option value="yymaeda">わいわい&まえだくん</option>
  </select><br>
  <!-- ニコニコ動画のゲーム選択 -->
  <select id="gameSelect-nico" v-model="gameNico">
    <option value="" id="option0" selected disabled></option>
    <option value="abzu">ABZU</option>
    <option value="besiege">Besiege</option>
    <option value="calling">calling</option>
    <option value="FNaF">Five Nights at Freddy's</option>
    <option value="inside">INSIDE</option>
    <option value="limbo">LIMBO</option>
    <option value="LN">Little Nightmares</option>
    <option value="MC">Minecraft</option>
    <option value="newmario">Newスーパーマリオブラザーズ</option>
    <option value="aquarium">themeAQUARIUM</option>
    <option value="undertale">Undertale</option>
    <option value="imas">アイドルマスター</option>
    <option value="aooni">青鬼</option>
    <option value="analog">アナログゲーム集</option>
    <option value="amagami">アマガミ</option>
    <option value="anpanman">アンパンマンにこにこパーティ</option>
    <option value="octo">オクトダッド</option>
    <option value="OC">オーバークック</option>
    <option value="ka2">蚊2</option>
    <option value="kanken">漢検Wii</option>
    <option value="goemon">がんばれゴエモン2奇天烈将軍マッギネス</option>
    <option value="gift">ギフトピア</option>
    <option value="catherine">キャサリン</option>
    <option value="kyoe">巨影都市</option>
    <option value="kumatomo">クマ・トモ</option>
    <option value="kenka">喧嘩番長</option>
    <option value="quiz">子育てクイズもっとマイエンジェル</option>
    <option value="wolf">人狼</option>
    <option value="seaman">シーマン</option>
    <option value="seaman2">シーマン2</option>
    <option value="spl">スプラトゥーン</option>
    <option value="spl2">スプラトゥーン2</option>
    <option value="mario3d">スーパーマリオ3Dワールド</option>
    <option value="mario64">スーパーマリオ64</option>
    <option value="juon">呪怨</option>
    <option value="help">絶体絶命都市</option>
    <option value="zero">零</option>
    <option value="charisou">チャリ走</option>
    <option value="doumori">どうぶつの森</option>
    <option value="amiibo">どうぶつの森アミーボフェスティバル</option>
    <option value="gs2">ときめきメモリアルGirl's Side 2nd Kiss</option>
    <option value="tobimori">とびだせどうぶつの森</option>
    <option value="tomokore">トモダチコレクション</option>
    <option value="DQ1">ドラゴンクエストⅠ</option>
    <option value="DQ2">ドラゴンクエストⅡ</option>
    <option value="DQ3">ドラゴンクエストⅢ</option>
    <option value="DQ5">ドラゴンクエストⅤ</option>
    <option value="dragons">ドラゴンズレア</option>
    <option value="witches">トラブル☆ウィッチーズねぉ！</option>
    <option value="notore">脳トレ</option>
    <option value="bomb">爆弾解体ゲーム</option>
    <option value="pokesuna">ポケモンスナップ</option>
    <option value="pokken">ポッ拳</option>
    <option value="machimori">街へいこうよどうぶつの森</option>
    <option value="marika8">マリオカート8</option>
    <option value="maripa9">マリオパーティ9</option>
    <option value="yawaraka">やわらかあたま塾</option>
    <option value="rhythm">リズム天国</option>
    <option value="GM">わがままファッション GIRLS MODE よくばり宣言！</option>
  </select><br>
  <!-- ニコニコ動画のパート数選択 -->
  　Part<input type="number" min="1" max="77" value="0" v-model="partNumNico" id="partSelect-nico">
  <!-- ニコニコ動画のLASTなどの選択 -->
  <input type="text" v-model="lastNico" id="lastSelect-nico"><br>
  <!-- ニコニコ動画の分選択 -->
  <input type="number" min="0" max="59" value="0" v-model="minuteNico" id="minuteSelect-nico">：
  <!-- ニコニコ動画の秒選択 -->
  <input type="number" min="0" max="59" value="0" v-model="secondNico" id="secondSelect-nico"><br>
  <!-- ニコニコ動画の確定ボタン -->
  <button type="submit" @click="submit"><img src="imgs/check.png" width="60px" height="60px"></button>
  <!-- ニコニコ動画の削除ボタン -->
  <button @click="remove">削除</button><br>

  <img src="imgs/youtube.png">
  <h2>YouTube</h2>
  <!-- YouTubeの実況者選択 -->
  <select v-model="streamerYou" id="streamerSelect-you">
    <option value="" selected disabled></option>
    <option value="kyunnzziro">九ななズズいろ - 混ぜメン</option>
    <option value="kiyo">キヨ</option>
    <option value="sugiran">すぎ蘭 - ナポリの男たち</option>
    <option value="sugiru">すぎる</option>
    <option value="napori">ナポリの男たち</option>
    <option value="pokky">ポッキー</option>
    <option value="yuyuta">ゆゆうた</option>
    <option value="rantan">蘭たん</option>
    <option value="ran8">蘭たん&hacchi</option>
    <option value="reto">レトルト</option>
    <option value="yy">わいわい</option>
  </select><br>
  <!-- YouTubeのゲーム選択 -->
  <select id="gameSelect-you" v-model="gameYou">
    <option value="" id="option0" selected disabled></option>
    <option value="8ban">8番出口</option>
    <option value="8onpu">8分音符ちゃん♪</option>
    <option value="60p">60 Parsecs!</option>
    <option value="60s">60 Seconds!</option>
    <option value="frog">Amazing Frog?</option>
    <option value="apex">APEX</option>
    <option value="duck">Bouncing Duck Simulator</option>
    <option value="gpt">chatGPT</option>
    <option value="deltarune">Deltarune</option>
    <option value="D&G">Draw & Guess</option>
    <option value="exile">EXILE</option>
    <option value="gmod">Garry's Mod</option>
    <option value="GTG">Good Time Garden</option>
    <option value="HFF">Human: Fall Flat</option>
    <option value="inside">INSIDE</option>
    <option value="LIS">Life is Strange</option>
    <option value="LISBtS">Life is Strange: Before the Storm</option>
    <option value="limbo">LIMBO</option>
    <option value="LN">Little Nightmares</option>
    <option value="MOM">MAN OF MEDAN</option>
    <option value="MC">Minecraft</option>
    <option value="mother">Mother Simulator</option>
    <option value="PA">Party Animals</option>
    <option value="yurei">Phasmophobia</option>
    <option value="PDTA">Please Don't Touch Anything</option>
    <option value="P&P">Plug & Play</option>
    <option value="fil">Police Simulator Patrol Duty</option>
    <option value="pubg">PUBG</option>
    <option value="raft">RAFT</option>
    <option value="rock">ROCK of AGES Ⅱ</option>
    <option value="skate3">Skate3</option>
    <option value="slime">Slime Rancher</option>
    <option value="tea">Tea Party Simulator</option>
    <option value="sims4">The Sims 4</option>
    <option value="undertale">Undertale</option>
    <option value="aooni2">青鬼2</option>
    <option value="atsumori">あつまれどうぶつの森</option>
    <option value="utan">うーたんを塗るゲーム</option>
    <option value="oekaki">おえかきの森</option>
    <option value="octo">オクトダッド</option>
    <option value="ope">オペレーターズサイド</option>
    <option value="hidekazu">利き秀和</option>
    <option value="catherine">キャサリン</option>
    <option value="story">ケータイ小説</option>
    <option value="wolf">人狼</option>
    <option value="spl">スプラトゥーン</option>
    <option value="spl2">スプラトゥーン2</option>
    <option value="tamago">たまごっちのプチプチおみせっち</option>
    <option value="earth4.1">地球防衛軍4.1</option>
    <option value="earth5">地球防衛軍5</option>
    <option value="choshogi">超将棋</option>
    <option value="tsukkomi">ツッコマニア</option>
    <option value="debuneko">でぶ猫クラフト</option>
    <option value="doumorie+">どうぶつの森e+</option>
    <option value="gs2">ときめきメモリアルGirl's Side 2nd Kiss</option>
    <option value="gs3">ときめきメモリアルGirl's Side 3rd Story</option>
    <option value="gs4">ときめきメモリアルGirl's Side 4th Heart</option>
    <option value="tomokore">トモダチコレクション</option>
    <option value="notore">脳トレ</option>
    <option value="bomb">爆弾解体ゲーム</option>
    <option value="pikmin3">ピクミン3</option>
    <option value="precure">プリキュア</option>
    <option value="matsuken">マツケンアリマ</option>
    <option value="maripaSS">マリオパーティスーパースターズ</option>
    <option value="marime2">マリオメーカー2</option>
    <option value="manga">まんが一本道〆</option>
    <option value="konnan">名探偵コンナン君</option>
    <option value="mezon">メゾン・ド・魔王</option>
    <option value="moji">もじぴったんアンコール</option>
    <option value="rhythm">リズム天国</option>
  </select><br>
  <!-- YouTubeのパート数選択 -->
  　Part<input type="number" min="1" max="77" value="0" v-model="partNumYou" id="partSelect-you">
  <!-- YouTubeのLASTなどの選択 -->
  <input type="text" v-model="lastYou" id="lastSelect-you"><br>
  <!-- YouTubeの時選択 -->
  <input type="number" min="0" max="2" value="0" v-model="hourYou" id="hourSelect-you">：
  <!-- YouTubeの分選択 -->
  <input type="number" min="0" max="59" value="0" v-model="minuteYou" id="minuteSelect-you">：
  <!-- YouTubeの秒選択 -->
  <input type="number" min="0" max="59" value="0" v-model="secondYou" id="secondSelect-you"><br>
  <!-- YouTubeの確定ボタン -->
  <button type="submit" @click="submit"><img src="imgs/check.png" width="60px" height="60px"></button>
  <!-- YouTubeの削除ボタン -->
  <button @click="remove">削除</button>

  <script src="https://unpkg.com/petite-vue"></script>
  <script src="script.js"></script>

</body>

</html>