<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>実況リスト</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <h1>実況リスト</h1>
  
  <h2>ニコニコ動画</h2>
  <select v-model="streamerNico" id="streamerSelect-nico">
    <option value="" selected disabled></option>
    <option value="mssp">MSSP</option>
    <option value="adults">いい大人達</option>
    <option value="egin">えぬじん</option>
    <option value="music">音楽組 - MSSP</option>
    <option value="gerekara">ゲレンデ空回り - 混ぜメン</option>
    <option value="koiro">こいろ(5)</option>
    <option value="school">高校組 - MSSP</option>
    <option value="sugiru">すぎる</option>
    <option value="zuzu">ズズ</option>
    <option value="torippy">とりっぴぃ</option>
    <option value="toritori">とりとりコンビ&ネクロルさん&トータスさん</option>
    <option value="torinan">とりなん</option>
    <option value="napori">ナポリの男たち</option>
    <option value="nidomi">にどみ</option>
    <option value="nokke">のっけ</option>
    <option value="biwako">琵琶湖ちゃぷちゃぷブラザーズ</option>
    <option value="fanpon">ふぁんぽん</option>
    <option value="hunaka">不仲組 - MSSP</option>
    <option value="mazemen">混ぜメン</option>
    <option value="yukiyama">ゆきりぃやまる</option>
    <option value="reto">レトルト</option>
    <option value="ys">ワイエス</option>
    <option value="yy">わいわい</option>
    <option value="yymaeda">わいわい&まえだくん</option>
  </select><br>
  <select id="gameSelect-nico" v-model="gameNico">
    <option value="" id="option0" selected disabled></option>
    <option value="abzu">ABZU</option>
    <option value="besiege">Besiege</option>
    <option value="calling">calling</option>
    <option value="FNaF">Five Nights at Freddy's</option>
    <option value="inside">INSIDE</option>
    <option value="limbo">LIMBO</option>
    <option value="LN">Little Nightmares</option>
    <option value="MC">Minecraft</option>
    <option value="newmario">Newスーパーマリオブラザーズ</option>
    <option value="aquarium">themeAQUARIUM</option>
    <option value="undertale">Undertale</option>
    <option value="imas">アイドルマスター</option>
    <option value="aooni">青鬼</option>
    <option value="analog">アナログゲーム集</option>
    <option value="amagami">アマガミ</option>
    <option value="anpanman">アンパンマンにこにこパーティ</option>
    <option value="octo">オクトダッド</option>
    <option value="OC">オーバークック</option>
    <option value="ka2">蚊2</option>
    <option value="kanken">漢検Wii</option>
    <option value="goemon">がんばれゴエモン2奇天烈将軍マッギネス</option>
    <option value="gift">ギフトピア</option>
    <option value="catherine">キャサリン</option>
    <option value="kyoe">巨影都市</option>
    <option value="kumatomo">クマ・トモ</option>
    <option value="kenka">喧嘩番長</option>
    <option value="quiz">子育てクイズもっとマイエンジェル</option>
    <option value="wolf">人狼</option>
    <option value="seaman">シーマン</option>
    <option value="seaman2">シーマン2</option>
    <option value="spl">スプラトゥーン</option>
    <option value="spl2">スプラトゥーン2</option>
    <option value="mario3d">スーパーマリオ3Dワールド</option>
    <option value="mario64">スーパーマリオ64</option>
    <option value="juon">呪怨</option>
    <option value="help">絶体絶命都市</option>
    <option value="zero">零</option>
    <option value="charisou">チャリ走</option>
    <option value="doumori">どうぶつの森</option>
    <option value="amiibo">どうぶつの森アミーボフェスティバル</option>
    <option value="gs2">ときめきメモリアルGirl's Side 2nd Kiss</option>
    <option value="tobimori">とびだせどうぶつの森</option>
    <option value="tomokore">トモダチコレクション</option>
    <option value="DQ1">ドラゴンクエストⅠ</option>
    <option value="DQ2">ドラゴンクエストⅡ</option>
    <option value="DQ3">ドラゴンクエストⅢ</option>
    <option value="DQ5">ドラゴンクエストⅤ</option>
    <option value="dragons">ドラゴンズレア</option>
    <option value="witches">トラブル☆ウィッチーズねぉ！</option>
    <option value="notore">脳を鍛える大人のDSトレーニング</option>
    <option value="bomb">爆弾解体ゲーム</option>
    <option value="pokesuna">ポケモンスナップ</option>
    <option value="pokken">ポッ拳</option>
    <option value="machimori">街へいこうよどうぶつの森</option>
    <option value="marika8">マリオカート8</option>
    <option value="maripa9">マリオパーティ9</option>
    <option value="yawaraka">やわらかあたま塾</option>
    <option value="rhythm">リズム天国</option>
    <option value="GM">わがままファッション GIRLS MODE よくばり宣言！</option>
  </select><br>
  Part<input type="number" min="1" max="77" value="0" v-model="partNumNico" id="partSelect-nico">
  <select>
    <option value="" selected disabled></option>
    <option></option>
  </select>
  <input type="number" min="0" max="59" value="0" v-model="minuteNico" id="minuteSelect-nico">：
  <input type="number" min="0" max="59" value="0" v-model="secondNico" id="secondSelect-nico"><br>
  <button type="submit" @click="submit"><img src="imgs/check.png" width="60px" height="60px"></button>

  <button @click="remove">削除</button>

  <h2>YouTube</h2>
  <select>
    <option value="" selected disabled></option>
    <option>九ななズズいろ - 混ぜメン</option>
    <option>キヨ</option>
    <option>すぎ蘭 - ナポリの男たち</option>
    <option>すぎる</option>
    <option>ナポリの男たち</option>
    <option>ポッキー</option>
    <option>ゆゆうた</option>
    <option>蘭たん</option>
    <option>蘭たん&hacchi</option>
    <option>レトルト</option>
    <option>わいわい</option>
  </select>

  <script src="https://unpkg.com/petite-vue"></script>
  <script src="script.js"></script>

</body>
</html>