@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Hachi+Maru+Pop&family=New+Tegomin&family=Zen+Kurenaido&display=swap');

@media screen and (max-width: 480px) {

  * {
    padding: 0;
    margin: 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80vh;
  }

  .box {
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
  }

  .item {
    margin: 3px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
  }

  .dragging {
    opacity: 0.5;
  }

  .over {
    background-color: rgba(255, 255, 0, 0.3);
  }

  body {
    font-family: "DotGothic16", sans-serif;
  }

  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
  }

  img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }

  h2 {
    margin-bottom: 20px;
    margin-left: 10px;
  }

  select {
    margin: 10px;
  }

  input {
    margin: 5px;
  }

  button {
    margin-bottom: 30px;
  }
}